site_name: func-validator
site_description: MATLAB-style function argument validation for Python - clean,
  simple, and reliable.
site_author: Patrick Boateng
site_url: !ENV READTHEDOCS_CANONICAL_URL

copyright: Copyright &copy; 2023 - 2025 Patrick Boateng

repo_name: func-validator
repo_url: https://github.com/patrickboateng/func-validator
edit_uri: edit/main/docs


theme:
  name: material
  custom_dir: docs/overrides

  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - search.suggest
    - search.highlight
    - navigation.footer
    - navigation.indexes
    - toc.follow

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode


plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
            show_source: false
            show_signature: true
            members_order: source
            merge_init_into_class: true
            docstring_section_style: spacy
            show_root_heading: false
            show_root_toc_entry: false
            unwrap_annotated: true
            preload_modules: [ "func_validator" ]
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            inherited_members: true
            filters:
              - "!^_"
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      enable_git_follow: false
  - git-committers:
      repository: patrickboateng/func-validator
      branch: main
  - awesome-nav
  - mkdocs-jupyter:
      include_source: True

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - tables

extra:
  social:
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/geolysis
    - icon: fontawesome/brands/github
      link: https://github.com/patrickboateng/func-validator
    - icon: fontawesome/solid/envelope
      link: mailto:patrickboateng@patrickboateng.tech

extra_javascript:
  - javascript/katex.js
  - javascript/readthedocs.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
