[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-autorefs = "*"

[dev-packages]
build = "*"
pytest-cov = "*"
black = "*"
pytest = "*"
twine = "*"
isort = "*"
mkdocs = {extras = ["i18n"], version = "*"}
markdown-katex = "*"
mkdocs-autorefs = "*"
pymdown-extensions = "*"
mkdocs-include-markdown-plugin = "*"
pytest-doctestplus = "*"

[requires]
python_version = "3.13"
