[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
pytest-cov = "*"
black = "*"
pytest = "*"
twine = "*"
isort = "*"

[requires]
python_version = "3.13"
